@media only screen and (max-width: 768px) { 
    .title {
        text-align: center !important;
    }

    .tm-about i {
        font-size: 14vw !important;
    }
}

body {
   
}

/* STARTS /home */
#home {
    position: relative;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1928;
    opacity: 0.85;
}

.tm-home-title {
    color: #FFFFFF;
}
/* ENDS /home */

/* STARTS /contact */
.tm-contact-title {
    text-align: right;
}

.tm-contact p,
.tm-about p {
    text-align: justify;
}
/* ENDS /contact */

/* STARTS ICONS */
.tm-about i {
    color: var(--primary-color);
    font-size: 64px;
    padding: 1vw 2vw;
    line-height: 1.25;
}
/* ENDS ICONS */

/* STARTS GENERAL */
.title > h2 {
    margin-top: 10px;
}
/* ENDS GENERAL */